body {
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Navbar */
nav {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #a14135;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url(../assets/logo.png);
    background-size: 60px 60px;
}

nav ol li {
    list-style: none;
    display: inline-block;

}

nav ol li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav .nav-login {
    margin-left: 100px;
}


/* Contents */

.content {
    display: flex;
    height: 800px;
    justify-content: center;
    margin-bottom: 200px;
}

.content p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    color: #a14135;
    font-weight: bold;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 640px;
}

.content button {
    position: absolute;
    width: 200px;
    padding: 15px;
    background-color: #a14135;
    border-radius: 25px;
    border: none;
    top: 850px;
}

.content button a {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    text-decoration: none;
}



/* Footer */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer p {
    line-height: 5px;
    font-size: 14px;
}
